
* {
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.contentPerfil{
  display: flex;
  justify-content: flex-end;
}


.overlay {
  width: 100%;
  display: flex;
  justify-content: center;
}

