* {
  margin: 0;
  box-sizing: border-box;
}

.mainHome {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homeContainer {
  height: 100vh; /* O ajusta la altura que desees */
  opacity: 1;
  transition: opacity 0.15s; /* Transición de opacidad de 1 segundo */
}

/* Clase para ocultar la sección Home gradualmente */
.homeContainer.hidden {
  opacity: 0;
}

