.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-background-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
}

/* Ajusta el posicionamiento y los estilos de los elementos superpuestos */
/* Por ejemplo:
.content {
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
}
*/

/* Estilos de animación para las páginas */
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

/* Estilos para la barra de scroll */
/* Personaliza según tus preferencias */
::-webkit-scrollbar {
  width: 15px; /* Ancho de la barra de scroll */
  background-color: #04080e;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del "pulggar" del scroll */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del "pulggar" al pasar el mouse sobre él */
}


