.navBar {
  display: flex;
  justify-content: space-between;
}

.nav {
  position: relative; 
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  margin: 0 10px;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.nav a:hover {
  color: #00ffff;
}

@keyframes entradaIconos {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.nav i {
  animation: entradaIconos 1s ease forwards;
}

